@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primaryColor:#1282a2;
    --blueColor:#1d2d44;
    --whiteColor:#fff;
    --blackColor:#333;
    --greyColor: #f6f8fa;
    --labelColor: #ADD8E6;
    --yellowColor: #ffd723;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: auto;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin:auto;
    padding: 1rem 2rem;
    z-index: 5;
    color:var(--whiteColor);
    background: var(--primaryColor);
}

.navbar-logo > a {
    letter-spacing: 2.5;
    text-decoration: none;
    color:var(--whiteColor);
}

.navbar-menu {
    width:500px;
    display:flex;
    justify-content:space-between;
    font-weight:540;
}

.navbar-menu > a {
    color:gainsboro;
    text-decoration:none;
    text-align: center;
    position: relative;
    letter-spacing: 0.5px;
    z-index: 1;
    padding: 0 10px;
}
.navbar-menu a:after {
    content: "";
    position: absolute;
    background-color: #1d2d44;
    width: 0;
    height: 3px;
    bottom: -10px;
    left: 0;
    transition: 0.3s;
}
.navbar-menu a:hover{
    color:var(--whiteColor);
}
.navbar-menu a:hover:after {
    width: 100%;
}

/*logo of hamburger menu*/
.open-menu {
    display: none;
    cursor: pointer;
    top: 50%;
    right: 20px;
    padding: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    
}
/*To close hamburger menu*/
.close-menu {
    display: none;
    cursor: pointer;
    top: 20px;
    right: 20px;
    padding: 20px;
    font-size: 1.25em;
}

#check {display: none;}

/*hamburger menu style*/
@media(max-width: 610px){
    .navbar-menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        font-size: 135%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--primaryColor);
        transition: all 0.2s ease-in-out;
    }
    .navbar-menu{margin-top: 40px;}
    .navbar-menu a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .navbar-menu {right: 0;}
}

.menu-toggle {
    display: none;

}

.menu-toggle .bar {
    width: 15px;
    height: 2px;
    margin: 3px auto;
    transition: all 0.3 ease-in-out;
    background-color: var(--whiteColor);
    cursor: pointer;

}

.header{
    display:flex;

}
header{
    width: 100%;
    height:auto;
    /* background-image: url(main-header-img.png); */
    background-color:var(--primaryColor);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header .header-img{
    float:left;
    width:100%;
    height:auto;
}
.header-title{
    position: absolute;
    top: 7rem;
    left: 3rem;
    letter-spacing: 3;
    font-weight: bold;
    font-size:clamp(2rem, 5vw, 4.5rem);
    color:var(--blueColor);
    text-shadow: 4px 2px 0px rgba(0, 0, 0, 0, 2);
}

.header-title > span {
    color:#748cab;
}   

.heading{
    text-align:center;
    font-size:3rem;
    color:#1d2d44;
    padding:1rem;
    margin: 2rem 0;
    background:var(--whiteColor);
}

.heading span{
    color:#748cab;
}

.explore-container{
    background-color:#e8f4f9;
    display: inline-block;
    padding: 3rem;
}
.explore-header{
    color: var(--blueColor);
    align-items:center;
    justify-content: space-between;
    gap: 2rem;   
}
.explore-nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.explore-nav span{
    padding: 0 6px;
    font-size: 1.5rem;
    color: var(--blueColor);
    border: 2px solid var(--blueColor);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.explore-nav span:hover{
    color: var(--blueColor);
    border-color:var(--blueColor);

}

.explore-grid{
    background-color:#e8f4f9;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.explore-card{
    padding: 1rem;
    background-color: var(--primaryColor);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}
.explore-card:hover{
    background: var(--primaryColor);
    border-color: var(--blueColor);

}
.explore-card span{
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: var(--whiteColor);
    background-color: var(--blueColor);
    border-radius: 5px
}
.explore-card h4{
    margin-bottom: .5 rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--whiteColor);
}
.explore-card p{
    margin-bottom: 1rem;
    color: var(--greyColor);  
}
.explore-card a{
    color:var(--whiteColor);
    transition: .3s;
}
.explore-card a:hover{
    color:var(--blueColor);
}

/* login and register form */
.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}
.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:var(--blueColor);
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background:var(--primaryColor);
   color:rgb(255, 255, 255);
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: var(--blueColor);
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:var(--primaryColor);
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: var(--blueColor);
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}
